/*CSS geral do site*/

:root{
    --cordefundo1: #000000;
    --cordefundo2: #171717;
    --cordefundo3: #454545;
    --cordefundo4: #393e46;
    --cordefundo5: #7f8487;
    --cordefontepadrao: #F3F5F9;
    --fontepadrao: Verdana, Geneva, Tahoma, sans-serif;
}

*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color: var(--cordefundo2);
    color: var(--cordefontepadrao);
    font-family: var(--fontepadrao);
}