/*CSS do header da página*/

header{
    background-color: var(--cordefundo1);
    text-align: center;
    font-variant: small-caps;
    padding: 1.2em;
}
header > h1{
    font-size: 2em;
}
header > p{
    font-style: italic;
    font-size: 1.5em;
}
nav{
    background-color: var(--cordefundo3);
    padding: 1em;
}
nav > a{
    text-decoration: none;
    color: var(--cordefontepadrao);
    font-weight: bold;
    padding: 1em;
}
nav > a:hover, .linkativo{
    background-color: var(--cordefundo2);
}