/*CSS da página de Moedas*/ 
h1#titulo{
    text-align: center;
    margin: 1em;
}
table#moedas{
    margin: 2em 5em;
    font-size: 1em;
    line-height: 1.5em;
    border-spacing: 0px;
}
table#moedas td{
    padding: 0.5em;
}
.coluna1{
    width: 15%;
    text-align: center;
}
.coluna2{
    width: 85%;
}
div#container img{
    width: 80%;
}
table#moedas tr.linhaa{
    background-color: var(--cordefundo3);
}
table#moedas tr.linhab{
    background-color: var(--cordefundo5);
}